.cart2 {
    display: none;
}

.cart {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    border-collapse: collapse;
}

.cart-item {
    border: 2px solid;
    border-color: #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
}

.cart-items-wrapper {
    max-height: 550px; /* Adjust this value as needed */
    overflow-y: auto;
}


.cart-item img {
    width: 110px;
    display: block;
    margin: 0 auto;
}

.product-name {
    text-align: center;
    font-family: var(--main-font-family);
}

.cart-price {
    display: none;
}
.cart-item-total {
    font-family: var(--main-font-family);
}

.cart-product {
    margin-right: 1.5rem;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.9rem;
}

.quantity-input {
    -moz-appearance: textfield;
    width: 1.5rem;
    text-align: center;
    border: 1.5px solid;
    border-left: none;
    border-right: none;
    height: 25px;
    border-color: #ddd;
}

.update-quantity-left {
    cursor: pointer;
    padding: 0 10px;
    background-color: #FFF;
    border: 1.5px solid;
    border-right: none;
    border-color: #ddd;
    border-radius: 5px 0 0 5px;
    position: relative;
    height: 25px;
}

.update-quantity-right {
    cursor: pointer;
    padding: 0 10px;
    background-color: #FFF;
    border: 1.5px solid;
    border-left: none;
    border-color: #ddd;
    border-radius: 0 5px 5px 0;
    position: relative;
    height: 25px;
}

.remove-item {
    color: red;
    cursor: pointer;
    justify-content: center;
    padding: 0 2.5rem;
}

.cart-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-product p {
    margin: 5px 0;
    font-family: var(--main-font-family);
}

.checkout {
    margin: 10px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.checkout p {
    font-family: var(--main-font-family);
}

.checkout a {
    background-color: #F53E32;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-family: var(--main-font-family);
    padding: 14px 22px;
    cursor: pointer;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out;
    position: relative;
    z-index: 0;
}

.checkout a:hover {
    background-color: var(--hover-button-color);
}

@media (max-width: 510px) {
    .product-name {
        font-size: 2.8vw;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}