.header-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: var(--main-font-family);
}

.logo-menu img {
    width: 35px;
    height: 35px;
}

.contact-info span {
    font-family: var(--light-font-family);
    font-weight: 500;
}


.user-actions a {
    text-decoration: none;
    color: #000;
    font-family: var(--main-font-family);
    font-weight: 500;
    margin-left: 1.5rem;
}