
.header-container {
    padding: 10px 15px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 20px;
    height: 20px;
    display: none;
}

.search {
    display: none;
}

.img2 {
    width: 17px;
    height: 22px;
}

.img3 {
    width: 20px;
    height: 22px;
}

.header-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.search-container {
    padding: 10px 10px 0 10px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.search-container input {
    border-style:none;
    font-size: 18px;
    font-family: var(--light-font-family);
    outline:none;
    position: relative;
    height: 46px;
    border: solid 2px;
    border-color: #64B496;
    border-radius: 5px;
}

.input-form {
    align-content: center;
    border-radius: 5px;
    position: relative;
}

.input-form button {
    position: relative;
    height: 46px;
    width: 42px;
    border-style: none;
    border-radius: 0 5px 5px 0;
    margin: 0;
    padding: 0;
    top: -0.8px;
    right: 10px;
    background-color: #64B496;
    cursor: pointer;
}

.input-form i {
    color: #fff;
}


.main-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: var(--main-font-family);
    margin-left: 1rem;
}

.logo-menu img {
    width: 35px;
    height: 35px;
}

.logo-menu2 {
    margin-top: 0.3rem;
    display: none;
}

.logo-menu2 img {
    width: 45px;
    height: 45px;
}

.contact-info span {
    font-family: var(--light-font-family);
    font-weight: 500;
}


.user-actions a {
    text-decoration: none;
    color: #000;
    font-family: var(--main-font-family);
    font-weight: 500;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.user-actions img {
    margin-right: 0.3rem;
    margin-left: 1.5rem;
}

.results {
    position: absolute;
    background-color: #fff;
    width: 25.65rem;
    left: 0;
    text-decoration: none;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    top: 2.5rem;
}

.result-item:hover {
    background-color: #f0f0f0;
}

.result-item a {
    text-decoration: none;
    color: #333;
    font-family: var(--main-font-family);
    display: block; 
    width: 100%; 
    height: 100%;
    padding: 10px;
}

.logo2 {
    display: none;
}

.input-form:focus-within,
.input-form.focus-without {
    position: relative;
    z-index: 2000;  
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; 
    visibility: hidden;
    transition: 0.3s opacity ease, visibility 0ms ease-in 0.3s; /* Smooth fade effect */
    opacity: 0;
}

.overlay.active {
    visibility: visible;
    transition: 0.3s opacity ease; /* Smooth fade effect */
    opacity: 1;
}









@media (max-width: 841px) {

    .header-container {
        display: none;
    }

    .input-form button {
        display: none;
    }

    .input-form {
        margin-left: 1.5rem;
        width: 100%;
        height: 48px;
        margin-right: 1rem;
    }

    .search-container input {
        width: 100%;
    }

    .user-actions {
        display: none;
    }
    
    
    .results {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
    }

    .logo2 {
        display: block;
    }
    
    .logo {
        display: none;
    }

    .logo-menu2 {
        margin-top: 0.3rem;
        display: block;
    }
}