@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'LightPoppins';
    src: url('/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'BoldPoppins';
    src: url('/assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'QuickSand';
    src: url('/assets/fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'QuickSandBold';
    src: url('/assets/fonts/Quicksand-Bold.ttf');
}


:root {
    --main-font-family: 'Poppins', sans-serif;
    --light-font-family: 'LightPoppins', sans-serif;
    --bold-font-family: 'BoldPoppins', sans-serif;
    --second-font-family: 'QuickSand', sans-serif;
    --main-background-color: #F7F7F8; 
    --second-font-family-bold: 'QuickSandBold', sans-serif;
}