.list-grid-section {
    max-width: 1200px;
    margin: auto;
    padding: 13px;
    padding-top: 12rem;
}

.list-general-grid-p {
    font-family: var(--second-font-family-bold);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.list-product-card-link {
    text-decoration: none;
    display: block;
}

.cart-link {
    text-decoration: none;
    display: block;
}

.list-product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px 0;
    background-color: #fff;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1rem;
}

.list-product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.list-product-card img {
    width: 100%;
    height: auto;
}

.list-product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.list-product-card p {
    color: #555;
    text-decoration: none; 
}

.list-product-card button {
    background-color: #F53E32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s ease-out, transform 0.3s ease-out;
    text-decoration: none; 
    position: relative;
    z-index: 800;
}

.list-product-card button:hover {
    background-color: var(--hover-button-color);
}

.list-product-p {
    font-family: var(--main-font-family);
    text-align: left;
    font-size: 18px;
}

.list-price-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}



.list-price-div p {
    font-family: var(--second-font-family-bold);
    width: 900;
    color: #3BB77E;
    margin-top: 0.7rem;
}

.list-price-div button {
    font-family: var(--second-font-family-bold);
    width: 900;
}

.list-product-card i {
    margin-right: 0.3rem;
}

.list-original-price {
    font-size: 0.7em;
    color: #999;
    text-decoration: line-through;
}

@media (max-width: 1110px) {
    .list-product-p {
        font-size: 16px;
    }
}

@media (max-width: 755px) {
    .list-product-p {
        font-size: 20px;
    }
}

@media (max-width: 595px) {
    .list-product-p {
        font-size: 17px;
    }
}

@media (max-width: 530px) {
    .list-product-p {
        font-size: 16px;
    }
}



@media (max-width: 510px) {
    .list-product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .list-product-p {
        font-size: clamp(4px, 2.5vw ,15px);
    }

    .list-price {
        display: flex;
        flex-direction: column;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #f3f3f3;
    color: #333;
    border-radius: 5px;
    font-family: var(--main-font-family);
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .active {
    font-weight: bold;
    background-color: #ccc;
}